@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 7px;
    font-family: "Montserrat", sans-serif;
}

.header{
    background-image: url('./assets/banner.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.footbg{
    background-image: url('./assets/footbg.jpg');
    background-size: cover;
    background-position: center;
    filter: contrast(100%);
    
}
